:root { /*Criação de variavel*/
    --cor-primaria: #F598EC;
    --cor-secundaria:#FCE1FC;
    --cor-terciaria: #DB63E6;
    --cor-quartenaria: #E75CFF;
    --cor-fundo: #e3e3e3;
}


html {
    scroll-behavior: smooth; /* comportamento do scroll: suave */
 }

body {
    margin: 20px 50px; /*sentido horario da pagina*/
    text-align: justify;
    background-color: var(--cor-fundo);
}

.title {
    color: var(--cor-quartenaria)  ;
    line-height: 2;
    font-weight: bold;
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
}

.article-title{
    color: var(--cor-terciaria);
    line-height: 2;
    font-weight: bold;
    font-size: 18pt;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo-de-secao {
    color: var(--cor-primaria); 
    line-height: 1.3;
    font-weight: bold;
    font-size: 18pt;
    font-family: Arial, Helvetica, sans-serif;
    
}

.subtitulo-de-artigo {
    color: #1F948E;
    line-height: 1.3;
    font-weight: bold;
    font-size: 18pt;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;

}

p{
    padding: 20px;
    line-height: 1.3;
    color:#002AFF ;
}

.exemplos{
    color: #6A28FF ;
}

.paragrafo-de-artigo {
        background-color: #BDDAFF;
        padding: 20px 20px 0px 2;
        
}

article {
    border: 4px solid #FC95C6;
    padding: 30px;
    margin: 30px 0;
    border-radius: 60px 20px 30px 50px;
}

li {
    color: var(--cor-fundo);
}

a{
    color: var(--cor-quartenaria);
    text-decoration: dotted;
}

.menu-principal li {
    background-color: var(--cor-secundaria);
}

.paragrafo-de-artigo:first-of-type {
    border-radius: 20px 0px 0px 0px
    ;
}

.paragrafo-de-artigo:last-of-type {
    border-radius: 0px 0px 20px 0px;
}
.paragrafo-de-artigo:only-of-type {
    border-radius: 20px 0px 20px 0px;
}


section#artigos {
    display: flex;
    flex-direction: row;
}